<%= form_for @artlesson do |f| %>
    <% if @artlesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@artlesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
            <% @artlesson.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><%= f.label :title %>
<%= f.text_field :title %></p>
    <p><%= f.label :description %>
      <%= f.text_field :description %></p>
    <p><%= f.label :description %>
      <%= f.text_field :description %></p>
    <p><%= f.label :teacher %>
      <%= f.text_field :teacher %></p>
    <p><%= f.label :start_date %>
      <%= f.text_field :start_date %></p>
    <p><%= f.label :no_of_weeks %>
      <%= f.text_field :no_of_weeks %></p>
    <p><%= f.label :places %>
      <%= f.text_field :places %></p>
    <p><%= f.label :price %>
      <%= f.text_field :price %></p>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>