<%= form_for(@artlesson) do |f| %>
    <% if @artlesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@artlesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
            <% @artlesson.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
    <tr><td><%= f.label :title %></td>
<td><%= f.text_field :title %></td></tr>
    <tr><td><%= f.label :description %></td>
      <td><%= f.text_field :description %></td></tr>
    <tr><td><%= f.label :teacher %></td>
      <td><%= f.text_field :teacher %></td></tr>
    <tr><td><%= f.label :start_date %></td>
      <td><%= f.text_field :start_date %></td></tr>
    <tr><td><%= f.label :no_of_weeks %></td>
      <td><%= f.text_field :no_of_weeks %></td></tr>
    <tr><td><%= f.label :places %></td>
      <td><%= f.text_field :places %></td></tr>
    <tr><td><%= f.label :price %></td>
      <td><%= f.text_field :price %></td></tr>
      </table>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

