<%= form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
            <% @booking.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr><td><%= f.label :firstname %></td>
        <td><%= f.text_field :firstname %></td></tr>
      <tr><td><%= f.label :surname %></td>
        <td><%= f.text_field :surname %></td></tr>
      <tr><td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td></tr>
      <tr><td><%= f.label :address %></td>
        <td><%= f.text_area :address %></td></tr>
      <tr><td><%= f.label :phone_no %></td>
        <td><%= f.text_field :phone_no %></td></tr>
      <tr><td><%= f.label :payment_type %></td>
        <td><%= f.select :payment_type, Booking::PAYMENT_TYPES, prompt: 'Select payment type' %></td></tr>
    </table>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>